* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'gilor';
}

.mian {
    height: 100%;
    width: 100%;
    position: relative;
}

.nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    border-bottom: 1px solid black;
}

.nav h1 {
    color: #EA4880;
}

.nav2 {
    display: flex;
    align-items: center;
    gap: 4vw;
}

.nav2 button {
    height: 6vh;
    width: 6vw;
    border-radius: 10px;
    color: white;
    background-color: #EA4880;
    border-color: #EA4880;
    font-size: 1.5vw;
}

.section {
    height: 540px;
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.left {
    height: 100%;
    width: 50%;

}

.right {
    height: 100%;
    width: 50%;
}

.left h1 {
    font-size: 5vw;
    padding-top: 7vh;
    padding-left: 3vw;
    font-family: "Montserrat", sans-serif;
}

.left h1 span {
    color: rgb(178, 58, 198);
}

.left p {
    font-size: 1.2vw;
    padding-top: 2vh;
    padding-left: 3vw;
    font-family: "Nunito Sans", sans-serif;
}

.left button {
    height: 7vh;
    width: 9vw;
    border-radius: 7px;
    margin-left: 3vw;
    margin-top: 5vh;
    font-size: 1.3vw;
    text-align: center;
    background-color: rgb(178, 58, 198);
    color: white;
    border-color: rgb(178, 58, 198);
}

.right img {
    height: 100%;
    width: 100%;
}
